<div class="row">
  <div class="col-md-offset-1">
    <h3>Contact</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1 well well-lg">
    <div class="form-group">
      <label class= "control-label">Subject</label>
      {{input name="Email" value=email classNames="form-control input-sm"}}
    </div>

    <div class="form-group">
      <label class= "control-label">Message</label>
      {{textarea name="message" value=message classNames="form-control input-sm"}}
    </div>

    <div class="form-group">
      <input {{action "sendMessage"}} type="submit" class="btn btn-lg btn-block btn-success" value="Submit" />
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <h4><i class="icon-rocket"></i> <strong>We would love to hear from you!</strong></h4>
    <p>
       Feel free to drop us a line for any reason. It could be something you love, something you want changed.
       Let us know, your feedback is important!
    </p>

    <br>
    <p class="lead">Cody Tanner <strong>(801) 637-4393</strong></p>
    <img src="/assets/contact_pic.jpg" class="img-responsive img-rounded" />
  </div>
</div>