<h4>Profile for {{currentUser.email}}</h4>

<ul>
{{#each property in properties}}
  <li>
    {{property.name}}
    <ul>
      {{#each unit in property.units itemController="unit"}}
        <a {{bind-attr href="unit.newLeaseUrl"}} target="_blank">New Lease for this property</a>
      {{/each}}
    </ul
  </li>
{{/each}}