<h4>Profile for {{currentUser.email}}</h4>

{{model}}
<ul>
{{#each bill in currentUser.bills itemController="bill"}}
  <li><a {{bind-attr href="bill.billUrl"}} target="_blank">Bill for {{dateTime bill.dateIssued}}</a></li>
{{/each}}
</ul>