/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.signaturepad
 *= require_tree .
 */
.ember-app {
 height: 100%;
 background: url('ebackground.jpg');
 background-size: 100%;
}

html, body, .container {
  height: 100%;
}

#main-footer {
  margin-bottom: 50px;
}

/*.lease-input {
  padding: 4px;
  border-radius: 4px;
  direction: ltr;
  *= require datepicker3
}*/

@font-face {
  font-family: 'Journal';
  src: url(<%= asset_path 'journal.eot' %>);
  src: url(<%= asset_path 'journal.eot?#iefix' %>) format('embedded-opentype'>),
       url(<%= asset_path 'journal.woff') format('woff' %>),
       url(<%= asset_path 'journal.ttf') format('truetype' %>),
       url(<%= asset_path 'journal.svg#JournalRegular' %>) format('svg');
  font-weight: normal;
  font-style: normal;
}

.basic-input-xs {
  width: 75px;
}

.basic-input-sm {
  width: 100px;
}

.basic-input-md {
  width: 150px;
}

.basic-input-lg {
  width: 200px;
}

.basic-input-xlg {
  width: 250px;
}

.signature {
    font-family: "Journal";
    font-size: 30px;
    font-weight: bold;
}