@import "font-awesome-sprockets";
@import "font-awesome";
@import url("//fonts.googleapis.com/css?family=Roboto:400,500");

html, body, .container {
  height: 100%;
}

#main-footer {
  margin-top: 20px;
  background: #DDD;
  padding: 50px;
}

.basic-input-xs {
  width: 75px;
}sd

.basic-input-sm {
  width: 100px;
}

.basic-input-md {
  width: 150px;
}

.basic-input-lg {
  width: 200px;
}

.basic-input-xlg {
  width: 250px;
}

.signature {
    font-family: "Journal";
    font-size: 30px;
    font-weight: bold;
}

.subtotal {
  border-top: solid 2px #000000;
}

.total {
  border-top: solid 4px #000000;
}