@font-face {
  font-family: 'Journal';
  src: font-url("/assets/journal.eot");
  src: font-url("/assets/journal.eot?#iefix") format('embedded-opentype'>),
       font-url("/assets/journal.woff") format('woff'),
       font-url("/assets/journal.ttf") format('truetype'),
       font-url("/assets/journal.svg#JournalRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}