<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p class="lead"><strong>Please print this page for your records</strong></p>
    <div class="panel panel-default">
      <div class="panel-heading">Payment Recipt</div>
      <div class="panel-body">
        <p>On <%= Date.today %>, <%= current_user.name %>, made the following payment:</p>
        <strong>Amount Paid:</strong>
        <%= number_to_currency(@bill.balance) %>
      </div>
    </div>
  </div>
</div>